.first {
    position: relative;
    .container {
        position: static;
    }
    &__vaucher {
        width: calc(50vw - 300px);
        position: absolute;
        height: 75px;
        padding-left: 22px; 
        display: flex;
        align-items: center;
        color: white;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        right: 0;
        text-decoration: none;
        cursor: pointer;
        top: 50%;
        background-image: -webkit-linear-gradient(0deg,#0082ff 0%,#00d0ff 100%);
        box-shadow: 0 14px 32px 0 rgba(0,130,255,.27);
        &:hover {
            background-image: -webkit-linear-gradient(0deg,#0078e9 0%,#00c1ec 100%);
            img:nth-of-type(2) {
                transform: translatex(10px);
            }
        }
        img:nth-of-type(1) {
            margin-right: 20px; 
        }
        img:nth-of-type(2) {
            margin-left: 30px;
            transition: 0.3s;
        }
        span {
            max-width: 205px;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 20px;
        }
        @media screen and (max-width: 1400px) {
            width: 50vh;
        }
        @media screen and (max-width: 1200px) {
            position: static;
            margin-top: 20px;
            border-radius: 100px !important;
            padding-right: 22px;
            height: 50px;
            max-width: 500px;
            width: auto;
            justify-content: space-between;
            span {
                font-size: 10px;
                line-height: 16px;
                text-align: center;
            }
            img:nth-child(1) {
                height: 20px;
            }
            span {
                width: auto;
            }
            
        }
    }
    @media screen and (max-width: 1200px) {
        .btn {
            width: 100%;
            margin-right: 0 !important;
        }   
    }
}