// GUI styles by Maxim Sinukov
// For example, styles of the links, buttons and so on.

.m-title {
    font-family: "prox";
    line-height: normal;
    font-size: 36px;
    color: #4A4A4A;
}
.m-desc {
    font-size: 16px;
    font-weight: 500;
    color: #434343;
}

.m-button {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #204b99;
    border: none;
    max-width: 100%;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    width: 200px;
    height: 60px;
    &-angle {
        min-width: 135px;       
        display: flex;
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.m-field {
    border-radius: 100px;
    border: none;
    background-color: white;
    padding: 13px 27px;
    color: #a2a1a1;
    font-family: 'got';
    font-weight: bold;
    text-transform: uppercase;  
    font-size: 14px;
    max-width: 440px;
    width: 100%;
    transition: 0.3s;
    border: 2px solid white;
    @media screen and (max-width: 600px) {
        padding: 6px 20px;
        height: 40px !important;
    }
    &.error {
        border-color: #db3b3b !important;
    }
    &.valid {
        border-color: #68a852 !important;
    }
    &-angle {
        @extend .m-field;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    &::placeholder {
        transition: 0.3s;
        text-transform: uppercase;
    }
    &:focus {
        color: #434343;
    }
    &::placeholder {
        font-family: 'ral';
        font-size: 12px;
    }
    &:disabled{
        opacity: 0.6;
        user-select: none;
    }
    &:focus::placeholder {
        transform: translateY(-15px);
        opacity: 0;
    }
    &.m-textarea {
        padding: 0;
        padding-left: 27px;
        padding-top: 13px;
        border-radius: 26px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        vertical-align: top;
        height: 110px !important;
    }
}

.mr0 {
    margin-right: 0 !important; 
}

.mt10 {
    margin-top: 10px !important; 
}

.mt20 {
    margin-top: 20px !important; 
}

.mt30 {
    margin-top: 30px !important; 
}

.mt15 {
    margin-top: 15px !important; 
}

.mt25{
    margin-top: 25px !important; 
}

.mb10{
    margin-bottom: 10px !important; 
}

.mb20 {
    margin-bottom: 20px !important; 
}

.mb30 {
    margin-bottom: 30px !important; 
}

.ml10{
    margin-left: 10px !important;
}

.ml20{
    margin-left: 20px !important;
}

.ml30{
    margin-left: 30px !important;
}

.mr10{
    margin-right: 10px !important;
}

.mr20{
    margin-right: 20px !important;
}

.mr30{
    margin-right: 30px !important;
}