<div class="overlay "></div>

<div class="popup popup-delete-user ">
    <div class="popup__container">
        <div class="popup-content">
            <div class="popup__close popupClose">
                <!-- close buttton -->
            </div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis commodi odit, accusantium ad quasi, unde doloribus vitae nam ea, nobis excepturi autem reiciendis velit tempora optio aspernatur? Atque, perferendis distinctio.
        </div>
    </div>
</div>
 